:root {
   --color-background: #FFFFFF;
   --color-primary: #00A9AC;
   --color-secondary: #FF7A00;
   --color-tertiary: #85C3CC;
   --color-tertiary-32: #85C3CC52;
   --color-font-first : #000000;
   --color-font-first-62: #0000009E;
   --color-font-second: #9D9B9B;
}
